[Unit]
Description=Bluetooth Discoverable Service
After=bluetooth.service
Requires=bluetooth.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/home/aeroagri/trichogramma-pi/scripts/bluetooth_discoverable.sh
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target

